.dashboardWrapper h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: #000000;
}
.ordersWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.ordersWrapper > .cardOrder {
    width: 32%;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
}
.cardOrder > div{
    display: flex;
}
.cardOrder img{
    width: 30px;
    margin-right: 15px;
}
.cardOrder h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #767676;
}
.cardOrder .content{
    margin-top: 30px;
}
.cardOrder .content > div{
    min-width: 50%;
}
.cardOrder .content p{
    color: #767676;
    font-size: 20px;
    margin-bottom: 10px;
}
.cardOrder .content h4{
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}
.cardOrder .content span{    
    font-weight: 600;
    font-size: 16px;
}
.green{
    color: #01BF64;
}
.red{
    color: #E24747;
}
.graphikWrapper{
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
}
.graphikWrapper canvas{
    height: 100% !important;
}

/* media style */
@media (max-width: 1024px) {
    .dashboardWrapper h2 {
        text-align: center;
    }
    .ordersWrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .ordersWrapper>.cardOrder {
        width: 400px;
        margin: 20px;
    }
}
@media (max-width: 768px) {
    .leftMenu>a>img {
        width: 30px;
    }
    .graphikWrapper{
        height: auto;
    }
}
@media (max-width: 425px) {
    .leftMenu {
        width: 65px;
    }
    .leftMenu>.logo {
        width: auto;
    }
    .mainContentWrapper {
        padding-left: 40px;
    }
    .cardOrder .content h4 {
        font-size: 28px;
    }
    .cardOrder .content span {
        font-size: 14px;
    }
    .ordersWrapper>.cardOrder {
        margin: 20px 10px;
    }
}